.navbar-collapse {
    justify-content: space-between;
}
.nav-icon-user{
    height: 30px;
}
.nav-button-user{
    margin-left: 40px;
    border-radius: 50px;
}

.nav-search{
    font-family:Arial, FontAwesome;
}